@import url('http://fonts.googleapis.com/css?family=Engelbert');
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Alice);

@font-face {
font-family: 'din_medium';
src: url('http://font.reactcdn.co.uk/din_medium/dinneuzeitgroteskstd-light-webfont.eot');
src: url('http://font.reactcdn.co.uk/din_medium/dinneuzeitgroteskstd-light-webfont.eot?#iefix') format('embedded-opentype'),
url('http://font.reactcdn.co.uk/din_medium/dinneuzeitgroteskstd-light-webfont.svg#din_medium') format('svg'),
url('http://font.reactcdn.co.uk/din_medium/dinneuzeitgroteskstd-light-webfont.ttf') format('truetype'),
url('http://font.reactcdn.co.uk/din_medium/dinneuzeitgroteskstd-light-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'din_bold';
src: url('http://font.reactcdn.co.uk/din_bold/ff_din_bold-webfont.eot');
src: url('http://font.reactcdn.co.uk/din_bold/ff_din_bold-webfont.eot?#iefix') format('embedded-opentype'),
url('http://font.reactcdn.co.uk/din_bold/ff_din_bold-webfont.svg#din_bold') format('svg'),
url('http://font.reactcdn.co.uk/din_bold/ff_din_bold-webfont.ttf') format('truetype'),
url('http://font.reactcdn.co.uk/din_bold/ff_din_bold-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

body{
	background-image: url('bg.png');
	background-color: white;
	font-family: Engelbert, Helvetica, Arial, console;
}
	
p, h6,h5,h4,h3,h2,h1{
	font-family: Engelbert, Helvetica, Arial;
}
	
h1, h2{
	color: blue;
	font-family: "Source Sans Pro", Helvetica, Arial;
}
	
h3,h4{
	color: #360;
}
	
h1{
	font-size: larger;
	font-weight: 900;
}
	
h2{
	font-size: large;
	font-weight: 800;
}
	
h3{
	font-size:large;
	font-weight: 400;
}
	
h4{
	font-size:normal;
	font-weight: 300;
}
	
p, li{
	color:#666;
	font-size: small;
	font-weight: 300;
}
	
.wrapper{
	width: 95%%;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	background: -webkit-linear-gradient(left top, #dd7f1f, #e0b521);
	background: linear-gradient(left top, #dd7f1f, #e0b521);
	border-radius:25px;
}
	
header, nav, section, footer{
	width: 80%;
	padding: 30px 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 12px;
	margin-bottom: 12px;
	border-radius: 10px;
	box-shadow: 2px 2px 4px;
}
	
header{
	background-color:black;
	color:#ccc;
}

header h1, header h2{
    color:white;
}
	
nav{
	background: linear-gradient(#ccc,#ddd)	
}

nav ul{
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	padding:0;
}

nav a{
	text-decoration: none;
	text-underline: none;
	color: #666;
}

nav li{
	display: inline;
	border: solid 1px;
	border-radius: 3px;
	background: linear-gradient(#eee,#ccc);
	box-shadow: 2px 2px 3px;
	padding: 0 10px;
}

section{
	background: linear-gradient(#eee, #ccc);
}

code, pre {
	font-family: 'source sans pro'
}
img, iframe{
	margin-left: auto;
	margin-right: auto;
	padding: 1px;
	border-style:ridge;
	border-radius: 1px;
	border-color: #002751;
	clear:both;


img.logo{
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border-radius: 5px;
	background-color: #002751;
}
